@model  List<DO_AN_SEM3.Models.Users.UserModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div>
        <a href="/Accoun/Create" class="btn btn-success">TẠO MỚI </a>
    </div>*@
<table id="tableProduct" class="display table table-sm body-table" style="width:100%">
    <thead>
        <tr>
            <th>Họ Và Tên </th>
            <th>Tên đăng nhập</th>
            <th>Quyền</th>
            <th></th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.HoVaTen</td>
                <td>@item.UserName</td>
                @if (item.RoleName.Count > 0)
                {
                    <td>
                        @for (int i = 0; i < item.RoleName.Count; i++)
                        {
                            @item.RoleName[i]
                        }
                    </td>
                }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Phân quyền", "PhanQuyen", new { id = item.Id }) |
            </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#tableProduct').DataTable({
                "columnDefs": [{
                    "targets": [3],
                    "orderable": false,
                }]
            });
        });
    </script>

}


